body{margin: 0; font-family: "montserrat"; background-image: linear-gradient(white,rgb(189, 205, 255)); background-repeat: no-repeat;}
html{scroll-behavior: smooth;}


nav{
    position: fixed;
    border-bottom: solid 3px rgba(60, 129, 255);
    background-color: rgba(255, 255, 255, 0.864);
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 1;
    padding: 10px;
    justify-content: space-between;
}
.bg{
    background-image: url(../Image/WhatsApp\ Image\ 2025-11-11\ at\ 21.19.20_7731b40d.jpg);
    background-size: cover;
    height: 400px;
    border-bottom-left-radius: 50px ;
    border-bottom-right-radius: 50px ;
}
.logo{
    display: flex;
}
.navbtnbox{
    margin-right: 20px;
    gap: 15px;
    display: flex;
    align-items: center;
}
.navbtn{
    box-shadow: 0px 0px 10px rgba(0, 16, 37, 0.385);
    height: 40px;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease;
    padding: 5px;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: white;
}
.navbtn:hover{
    box-shadow: 0px 0px 10px rgba(0, 8, 255, 0.546);
    height: 40px;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease;
    padding: 7px;
    text-align: center;
    display: grid;
    place-items: center;
}
.navbtn:active{
    box-shadow: 0px 0px 10px rgba(0, 8, 255, 0.546);
    background-color: rgb(60, 129, 255);
    height: 40px;
    border-radius: 15px;
    border: none;
    transition: all 0.3s ease;
    padding: 3px;
    text-align: center;
    display: grid;
    place-items: center;
}

.box{
    margin: 10px;
    height: 10000px;
    box-shadow: 0px 0px 10px rgb(144, 172, 255);
    background-color: white;
    border-radius: 30px;
    width: 90vw;
    padding: 10px;
    transition: 0.5s ease;
}

.box:hover{
    padding: 20px;
    margin: 20px;
    height: 10000px;
    box-shadow: 0px 0px 5px rgb(144, 172, 255);
    background-color: white;
    border-radius: 30px;
    width: 90vw;
}

footer{
    height: 10vw;
    background-color: blue;
}